server:
  port: 80
  servlet:
    context-path: /i-home
    # session持久化关闭
    session:
      persistent: false
# spring配置
spring:
  application:
    name: i-Home-app
  # 国际化配置
  messages:
    basename: i18n/messages
  profiles:
    # MySQL数据源配置
    active: druid,redisson
# jwt配置
token:
  # 令牌自定义标识
  header: Authorization
  # 令牌有效期（单位分钟）
  expireTime: 30

# 自定义配置
i-home:
  # 线程池配置
  thread-pool:
    # 核心线程数
    core-size: 20
    # 最大线程数
    max-size: 80
    # 任务队列长度
    queue-capacity: 1000
    # 线程空闲最大时间 默认秒
    keep-alive: 300
    # 线程名前缀
    name-prefix: i-Home

# MyBatis
mybatis:
  # 搜索指定包别名
  typeAliasesPackage: club.ihome.**.domain
  # 配置mapper的扫描，找到所有的mapper.xml映射文件
  mapperLocations: classpath*:mapper/**/*Mapper.xml
  # 加载全局的配置文件
  configLocation: classpath:mybatis/mybatis-config.xml

# Logger Config
logging:
  level:
    com.hexadecimal: debug
